body{
    background:#f4f7fc;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border-radius:10px;
}

.card-header{
    background:#ffffff;
}

.card-header h2{
    font-weight:bold;
}

.form-control{
    border-radius:6px;
}

.btn{
    margin-top:15px;
}