*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Segoe UI', sans-serif;
	background: linear-gradient(135deg, #f59e0b,#facc15,#fde68a);
	min-height: 100vh;
}

.navbar{
	padding: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.forgot-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.forgot-card{
	width: 430px;
	background: white;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, .25);
	animation: fade .6s;
}

.logo{
	 width:80px;
    height:80px;
    margin:auto;
    border-radius:50%;
    background:#ffc107;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:36px;
    margin-bottom:20px;
}

.form-control{
    height:48px;
    border-radius:10px;
}

.form-control:focus{
    border-color:#ffc107;
    box-shadow:0 0 8px rgba(255,193,7,.4);
}

.btn-warning{
    height:48px;
    border-radius:10px;
    font-weight:bold;
}

.btn-warning:hover{
    transform:translateY(-2px);
    transition:.3s;
}

a {
    text-decoration:none;
}

@keyframes fade{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
